// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

.button-kiri {
    width: 100%;
    height: 70%;
}

.select-kanan {
    height: 70%;
}

.form-select {
    width: 100%;
}

.placeholdercari {
    padding-left: 3vw;
}
